*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: $base-fontsize;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-image: url("../img/vintage_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include ph {
    color: #ffffff;
    background-color: #000000;
  }
}